/* ==========================================================================
Navigation
========================================================================== */

.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
    cursor: pointer;
}

.nav-toggle span:before {
    top: -10px
}

.nav-toggle span:after {
    bottom: -10px
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
    background-color: transparent
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
    top: 0
}

.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.navicon {
    position: relative;
    height: 26px;
}

.navicon p {
    margin: 1px 50px 0 0
}

.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}


/* ==========================================================================
Navigation - Nav Overlay
========================================================================== */


/* Overlay style */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 82, 113, 0.95);
}


/* Menu style */

.overlay nav {
    position: relative;
    top: 50%;
    height: 60%;
    text-align: center;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.overlay ul li {
    display: block;
    float: left;
    margin-right: 20px;
}

.overlay ul li:last-child {
    margin-right: 0px
}

.overlay ul li i {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
}

.overlay ul li a {
    display: block;
    padding: 50px 0;
    min-width: 190px;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: #345271;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    border-color: #73d0da;
    color: #73d0da;
}


/* ==========================================================================
Intro
========================================================================== */

.hero {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 800px;
    background: rgb(40, 70, 102) url('../img/large/section-first8.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.hero .hero-presentation h1 {
    margin: 200px 0 20px 0;
    font-weight: 300;
    font-size: 45px;
    font-weight: 700;
}

.hero .hero-presentation h2 {
    margin: 30px 0;
}

.hero .hero-presentation h1 span {
    display: inline-block;
    color: #a1a9b0;
}

#home {
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    height: 100%;
}

header i {
    margin-left: 5px
}

.hero-resume {
    display: none;
}

@media (min-width: 992px) {
    .hero-resume {
        display: block;
        margin: 200px 0 20px 0;
    }
    .hero-resume h1 {
        font-size: 45px;
        margin: auto;
    }
    .hero-resume h2 {
        margin-top: 35px;
        margin-bottom: 35px;
        font-size: 1.75em;
    }
    .hero-resume .hero-resume-first:hover,
    .hero-resume .hero-resume-second:hover {
        color: #73d0da;
        -webkit-transition: color 0.5s linear;
        transition: color 0.5s linear;
    }
    .hero .hero-resume h1 span {
        color: #FFF;
    }
    .hero-resume h1 .hero-resume-grow {
        -webkit-transition: all 350ms linear;
        transition: all 350ms linear;
    }
    .hero-resume:hover .hero-resume-grow {
        color: #73d0da;
        font-size: 55px;
    }
    .hero-resume i {
        margin-right: 20px;
    }
}

@media (min-width: 1500px) {
    .hero-resume h1 {
        width: 133%;
    }
}


/* ==========================================================================
Video
========================================================================== */

section.video i {
    margin-right: 10px;
    color: #323a45;
    vertical-align: middle;
    font-size: 50px;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

section.video h1 {
    font-weight: 400;
    font-size: 20px;
}

section.video {
    padding: 60px 0;
    background-color: #f6f7f9;
}

section.video a {
    color: #323a45
}

section.video a:hover,
section.video a:focus {
    color: #73d0da;
    text-decoration: none;
}

section.video a:hover i,
section.video a:focus i {
    color: #73d0da
}


/* ==========================================================================
Features Intro
========================================================================== */

.features-bg {
    position: relative;
    min-height: 400px;
    background: url('../img/large/section-third2.jpg') no-repeat center center;
    background-size: cover;
}

.features-img {
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
}

.features-intro-left {
    position: relative;
    padding: 5% 100px 5% 100px;
    min-height: 400px;
    background-color: #3F6184;
}

.features-intro-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-intro-left ul li {
    width: 100%;
}

.features-intro-left li h1 {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    /* margin-bottom: 2.5rem; */
}

.features-intro-left li p {
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
}

.features-intro-img {
    position: relative
}

.features-intro-left-text li h1 {
    /* margin: 0; */
    padding: 0;
}

.features-intro-left .flickity-page-dots {
    text-align: left;
    margin-top: 50px;
    position: static;
}

.features-intro-left .flickity-page-dots .dot {
    margin: 0 12px 0 0;
}


/* ==========================================================================
Features List
========================================================================== */

.features-list {
    padding: 130px 0;
    background-color: #f6f7f9;
}

.features-list h1 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #3F6184;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.features-list p {
    margin-bottom: 20px;
    color: #3F6184;
}

.feature-content {
    display: inline-block;
    margin-left: 0;
    width: 65%;
}

.feature-icon {
    display: inline-block;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    border: solid 2px #4e9ba3;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    font-size: 25px;
    line-height: 90px;
}

.feature-icon i {
    color: #4e9ba3
}


/* ==========================================================================
Showcase
========================================================================== */

.showcase {
    background: url('../img/showcase-bg-fixed-01.jpg') no-repeat center center fixed;
    background-size: cover;
}

.showcase h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

.showcase p {
    margin-bottom: 25px;
    color: #fff;
}

#mobileApp .device {
    position: absolute;
    top: -60px;
    left: 20%;
    min-height: 676px;
    width: 359px;
    background: url('../img/iphone-skeleton.png') no-repeat center center;
}

#mobileApp .device-content {
    position: absolute;
    top: 115px;
    left: 56px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}

#mobileApp .device-content img {
    width: 247px;
    height: 445px;
}

#mobileApp .showcase-wrap {
    position: relative;
    padding: 100px 0;
    min-height: 600px;
}

#mobileApp .showcase-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mobileApp .showcase-slider .flickity-page-dots {
    bottom: 20px;
}


/* ==========================================================================
Showcase - Carousel
========================================================================== */

#mobileApp .mobile-slider {
    position: relative;
    /* padding: 11% 100px 10% 100px; */
    padding: 0;
    height: 400px;
    background-color: transparent;
}

#mobileApp .mobile-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mobileApp .mobile-slider ul li {
    width: 100%;
}

#mobileApp .mobile-slider li h1 {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 2.5rem;
}

#mobileApp .mobile-slider li p {
    color: #fff;
    font-size: 15px;
    margin-top: 5px;
}

#mobileApp .features-intro-img {
    position: relative
}

#mobileApp .slides li h1 {
    /* margin: 0; */
    padding: 0;
}

#mobileApp .mobile-slider .flickity-page-dots {
    text-align: center;
    margin-top: 50px;
    position: static;
}

#mobileApp .mobile-slider .flickity-page-dots .dot {
    margin: 0 12px 0 0;
}

#mobileApp .flickity-page-dots .dot {
    width: 13px;
    height: 13px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

#mobileApp .flickity-page-dots .dot.is-selected {
    background: white;
}


/* ==========================================================================
Showcase - Blockquote
========================================================================== */

#mobileApp blockquote {
    margin: 40px 0 0;
    padding: 0;
    border: none;
    text-align: center;
}

#mobileApp blockquote p {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 70%;
    vertical-align: top;
    font-style: italic;
}

#mobileApp blockquote .avatar {
    display: inline-block;
    margin-right: 0;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}

#mobileApp blockquote a {
    color: inherit;
}


/* ==========================================================================
About
========================================================================== */

.about {
    padding: 170px 0 100px 0;
    background-color: #f6f7f9;
}

.about h1 {
    margin-bottom: 20px;
    color: #24374b;
    font-weight: 400;
    font-size: 22px;
}

.about p {
    margin-bottom: 25px;
    color: #778899;
    font-size: 16px;
}


/* ==========================================================================
Screenshots
========================================================================== */

.screenshots ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.screenshots ul li {
    float: left;
    min-height: 100%;
    width: 25%;
    background-color: #000;
    list-style: none;
}

.screenshots figure {
    position: relative;
    overflow: hidden;
}

.screenshots figure img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.screenshots figure:hover img,
.screenshots figure:focus img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.screenshots figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 97, 132, 0.85);
    text-align: center;
    font-size: 15px;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.screenshots figcaption a {
    color: #fff
}

.screenshots figcaption a:hover,
.screenshots figcaption a:focus {
    color: #73d0da
}

.screenshots figure:hover figcaption,
.screenshots figure:focus figcaption {
    opacity: 1
}

.visible {
    opacity: 1
}

.screenshots figure.cs-hover figcaption {
    opacity: 1
}

.screenshots figcaption i {
    font-size: 35px
}

.screenshots figcaption p {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.screenshots figcaption .caption-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -100px;
    width: 200px;
    -webkit-transform: translate(0px, 15px);
    -ms-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.screenshots figure:hover figcaption .caption-content,
.screenshots figure:focus figcaption .caption-content {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}


/* ==========================================================================
Pricing
========================================================================== */

.pricing {
    background-color: #f6f7f9;
    padding: 50px 0 50px 0;
}

.pricing .generic_content {
    background-color: #fff;
}

.pricing .generic_content .generic_head_price {
    background-color: #cfcaca;
}

.pricing #free_Pricing .generic_content .generic_head_price .generic_head_content .head_bg {
    border-color: #3F6184 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3F6184;
}

.pricing #plus_Pricing .generic_content .generic_head_price .generic_head_content .head_bg {
    border-color: #912d2d rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #912d2d;
}

.pricing #pro_Pricing .generic_content .generic_head_price .generic_head_content .head_bg {
    border-color: #3f844c rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3f844c;
}

.pricing .generic_content .generic_head_price .generic_head_content .head span {
    color: #525252;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .sign {
    color: #414141;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .currency {
    color: #414141;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .cent {
    color: #414141;
}

.pricing .generic_content .generic_head_price .generic_price_tag .month {
    color: #414141;
}

.pricing .generic_content .generic_feature_list ul li {
    color: #778899;
}

.pricing .generic_content .generic_feature_list ul li span {
    color: #414141;
}

.pricing #free_Pricing .generic_content .generic_feature_list ul li:hover {
    background-color: #E4E4E4;
    border-left: 5px solid #00448a;
}

.pricing #plus_Pricing .generic_content .generic_feature_list ul li:hover {
    background-color: #E4E4E4;
    border-left: 5px solid #990505;
}

.pricing #pro_Pricing .generic_content .generic_feature_list ul li:hover {
    background-color: #E4E4E4;
    border-left: 5px solid #07821e;
}

.pricing .generic_content .generic_price_btn button {
    border: none;
    background: transparent;
    outline: none;
}

.pricing .generic_content .generic_price_btn a {
    border: 1px solid #cfcaca;
    color: #789;
}

.pricing #free_Pricing .generic_content.active .generic_head_price .generic_head_content .head_bg,
.pricing #free_Pricing .generic_content:hover .generic_head_price .generic_head_content .head_bg {
    border-color: #00448a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #00448a;
    color: #fff;
}

.pricing #plus_Pricing .generic_content.active .generic_head_price .generic_head_content .head_bg,
.pricing #plus_Pricing .generic_content:hover .generic_head_price .generic_head_content .head_bg {
    border-color: #990505 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #990505;
    color: #fff;
}

.pricing #pro_Pricing .generic_content.active .generic_head_price .generic_head_content .head_bg,
.pricing #pro_Pricing .generic_content:hover .generic_head_price .generic_head_content .head_bg {
    border-color: #07821e rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #07821e;
    color: #fff;
}

.pricing .generic_content:hover .generic_head_price .generic_head_content .head span,
.pricing .generic_content.active .generic_head_price .generic_head_content .head span {
    color: #fff;
}

.pricing #free_Pricing .generic_content:hover .generic_price_btn a,
.pricing #free_Pricing .generic_content.active .generic_price_btn a {
    background-color: #00448a;
    border-color: #00448a;
    color: #fff;
}

.pricing #plus_Pricing .generic_content:hover .generic_price_btn a,
.pricing #plus_Pricing .generic_content.active .generic_price_btn a {
    background-color: #990505;
    border-color: #990505;
    color: #fff;
}

.pricing #pro_Pricing .generic_content:hover .generic_price_btn a,
.pricing #pro_Pricing .generic_content.active .generic_price_btn a {
    background-color: #07821e;
    border-color: #07821e;
    color: #fff;
}

.row .table {
    padding: 28px 0;
}


/*PRICE BODY CODE START*/

.pricing .generic_content {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.pricing .generic_content .generic_head_price {
    margin: 0 0 20px 0;
}

.pricing .generic_content .generic_head_price .generic_head_content {
    margin: 0 0 50px 0;
}

.pricing .generic_content .generic_head_price .generic_head_content .head_bg {
    border-style: solid;
    border-width: 90px 1411px 23px 399px;
    position: absolute;
}

.pricing .generic_content .generic_head_price .generic_head_content .head {
    padding-top: 40px;
    position: relative;
    z-index: 1;
}

.pricing .generic_content .generic_head_price .generic_head_content .head span {
    /* font-family: "Raleway", sans-serif; */
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
}

.pricing .generic_content .generic_head_price .generic_price_tag {
    padding: 0 0 20px;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price {
    display: block;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .sign {
    display: inline-block;
    /* font-family: "Lato", sans-serif; */
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .currency {
    /* font-family: "Lato", sans-serif; */
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

.pricing .generic_content .generic_head_price .generic_price_tag .price .cent {
    display: inline-block;
    /* font-family: "Lato", sans-serif; */
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

.pricing .generic_content .generic_head_price .generic_price_tag .month {
    /* font-family: "Lato", sans-serif; */
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.pricing .generic_content .generic_feature_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing .generic_content .generic_feature_list ul li {
    /* font-family: "Lato", sans-serif; */
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s ease-in-out 0s;
}

.pricing .generic_content .generic_feature_list ul li:hover {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.pricing .generic_content .generic_feature_list ul li .fa {
    padding: 0 10px;
}

.pricing .generic_content .generic_price_btn {
    margin: 20px 0 32px;
}

.pricing .generic_content .generic_price_btn a {
    /* border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px; */
    display: inline-block;
    /* font-family: "Lato", sans-serif; */
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

.pricing .generic_content,
.pricing .generic_content:hover,
.pricing .generic_content .generic_head_price .generic_head_content .head_bg,
.pricing .generic_content:hover .generic_head_price .generic_head_content .head_bg,
.pricing .generic_content .generic_head_price .generic_head_content .head h2,
.pricing .generic_content:hover .generic_head_price .generic_head_content .head h2,
.pricing .generic_content .price,
.pricing .generic_content:hover .price,
.pricing .generic_content .generic_price_btn a,
.pricing .generic_content:hover .generic_price_btn a {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

@media (max-width: 320px) {}

@media (max-width: 767px) {
    .pricing .generic_content {
        max-width: 310px;
        margin: auto;
        margin-bottom: 75px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pricing .col-md-3 {
        float: left;
        width: 50%;
    }
    .pricing .col-md-4 {
        float: left;
        width: 50%;
    }
    .pricing .generic_content {
        margin-bottom: 75px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}

.text-center h1,
.text-center h1 a {
    color: #7885CB;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
}

.demo-pic {
    margin: 0 auto;
}

.demo-pic:hover {
    opacity: 0.7;
}

.pricing_home ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}

.pricing_home li {
    float: left;
}

.pricing_home li+li {
    margin-left: 10px;
    padding-bottom: 10px;
}

.pricing_home li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0px;
}

.pricing_home .blue {
    background: #3498DB;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .emerald {
    background: #3F6184;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .grey {
    background: #7F8C8D;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .midnight {
    background: #34495E;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .orange {
    background: #E67E22;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .purple {
    background: #9B59B6;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .red {
    background: #E74C3C;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .turquoise {
    background: #1ABC9C;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .blue:hover,
.pricing_home .emerald:hover,
.pricing_home .grey:hover,
.pricing_home .midnight:hover,
.pricing_home .orange:hover,
.pricing_home .purple:hover,
.pricing_home .red:hover,
.pricing_home .turquoise:hover {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}

.pricing_home .divider {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

.pricing_home .divider span {
    width: 100%;
    display: table;
    height: 2px;
    background: #ddd;
    margin: 50px auto;
    line-height: 2px;
}

.pricing_home .itemname {
    text-align: center;
    font-size: 50px;
    padding: 50px 0 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    text-decoration: none;
    font-weight: 300;
}

.pricing_home .itemnametext {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    text-transform: uppercase;
    display: inline-block;
}

.pricing_home .footer {
    padding: 40px 0;
}

.price-heading {
    text-align: center;
}

.price-heading h1 {
    color: black;
    margin: 0;
    padding: 0 0 50px 0;
}

.demo-button {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.bottom_btn {
    background-color: #333333;
    color: #ffffff;
    display: table;
    font-size: 28px;
    margin: 60px auto 20px;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
}

.demo-button:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none;
}

.bottom_btn:hover {
    background-color: #666;
    color: #FFF;
    text-decoration: none;
}


/* ==========================================================================
Contact
========================================================================== */

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

.txt1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}

.txt2 {
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

.txt3 {
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

.contact {
    width: 100%;
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    background: #f6f7f9;
}

.wrap-contact100 {
    /* width: 1120px; */
    background: #f6f7f9;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    border: 1px solid #3F6184;
    border-radius: 5px;
}

.contact100-more {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 30px 15px 0px 15px;
}

.contact100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.contact100-form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 50px 5px 50px;
}

.contact100-form p {
    color: #3F6184;
}

.contact100-form-title {
    width: 100%;
    display: block;
    font-size: 30px;
    color: #3F6184;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #3F6184;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
    width: 50%;
}

.rs2-wrap-input100 {
    border-left: none;
}

.label-input100 {
    font-size: 12px;
    color: #3F6184;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 35px;
    border: 1px solid #3F6184;
    border-bottom: none;
    padding: 10px 25px;
    margin-top: 15px;
    margin-bottom: 0;
}

.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    color: #3F6184;
    line-height: 1.2;
    padding: 0 25px;
}

input.input100 {
    height: 35px;
}

textarea.input100 {
    min-height: 139px;
    padding-top: 19px;
    padding-bottom: 15px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #3F6184;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


/* [ Button ]*/

.contact-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 23px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 200px;
    height: 50px;
    border-radius: 2px;
    background: #3F6184;
    /* font-family: Montserrat-Bold; */
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #333333;
}


/* [ Responsive Contact]*/

@media (max-width: 992px) {
    .contact100-form {
        width: 60%;
        padding: 56px 30px 63px 30px;
    }
    .contact100-more {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .contact100-form {
        width: 100%;
    }
    .contact100-more {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .contact100-form {
        padding: 56px 15px 63px 15px;
    }
    .rs1-wrap-input100,
    .rs2-wrap-input100 {
        width: 100%;
    }
    .rs2-wrap-input100 {
        border-left: 1px solid #3F6184;
        border-top: none;
    }
}


/* [ Alert Validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
    /* font-family: Poppins-Regular; */
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-weight: 900;
    font-family: 'Font Awesome\ 5 Free';
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


/* [ Contact utils ]*/

.p-b-20 {
    padding-bottom: 20px;
}

.p-b-47 {
    padding-bottom: 47px;
}

.dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-col-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    z-index: 0;
}


/* [ Button Contact ]*/

#contact .generic_content {
    display: block;
    margin: auto;
}

#contact .generic_content .generic_price_btn button {
    border: none;
    background: transparent;
    outline: none;
}

#contact .generic_content .generic_price_btn a {
    border: 1px solid #3F6184;
    color: #3F6184;
}

#contact .generic_content:hover .generic_price_btn a,
#contact .generic_content.active .generic_price_btn a {
    background-color: #73d0da;
    border-color: #73d0da;
    color: #fff;
}

#contact .generic_content .generic_price_btn {
    margin: 20px 0 32px;
}

#contact .generic_content .generic_price_btn a {
    /* border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-border-radius: 50px; */
    display: inline-block;
    /* font-family: "Lato", sans-serif; */
    font-size: 18px;
    outline: medium none;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
}

#contact .generic_content .generic_price_btn a,
#contact .generic_content:hover .generic_price_btn a {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}


/* ==========================================================================
Footer
========================================================================== */

footer {
    padding: 10px 0;
    background-color: #f6f7f9;
}

footer .footer-logo {
    text-align: center;
}

footer p {
    color: #3F6184;
    font-size: 12px;
    margin-top: 0;
}

footer li a {
    color: #3f6184
}

footer li:last-child {
    margin-right: 0
}


/* ==========================================================================
Privacy Policy
========================================================================== */

.privacyPolicy {
    min-height: 100vh;
    background-color: #3F6184;
    color: #FFF;
}

.privacyPolicy h1 {
    margin-bottom: 50px;
    text-align: center;
}

.privacyPolicy h2 {
    margin: 45px;
}

.privacyPolicy .button a {
    margin-top: 50px;
    padding: 5px 25px;
    margin-left: 45px;
}


/* ==========================================================================
Querry Sections
========================================================================== */

@media screen and (max-width:1200px) {
    .device {
        left: 20%;
        top: -36px;
    }
    .feature-content {
        width: 55%;
    }
}

@media screen and (max-width:991px) {
    .feature-2 {
        margin-top: 50px;
    }
    .device {
        display: none;
    }
    .screenshots ul li {
        width: 50%;
    }
    .screenshots-intro {
        padding: 110px 0 100px 0;
    }
    .feature-content {
        width: 80%;
    }
    #mobileApp .mobile-slider {
        height: 100%
    }
}

@media screen and (max-width:680px) {
    .feature-content {
        width: 60%;
    }
}

@media screen and (max-width:640px) {
    .use-btn {
        display: none;
    }
    nav {
        margin-top: 40px;
    }
    .overlay ul {
        margin-left: 0px;
    }
    .overlay ul li a {
        padding: 20px 0;
        min-width: 120px;
        font-size: 12px;
    }
}

@media screen and (max-width:465px) {
    .hero h1 {
        font-size: 40px;
        margin: 100px 0 45px 0
    }
    .screenshots ul li {
        width: 100%;
        min-height: 100%;
        float: none;
    }
    section.video i {
        font-size: 30px;
    }
    section.video h1 {
        font-size: 15px;
        font-weight: 400;
    }
    section.video {
        padding: 40px;
    }
    .feature-content {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .feature-icon {
        display: block;
        margin: 0 auto;
    }
    blockquote p {
        width: 60%;
    }
    #mobileApp .mobile-slider {
        padding: 5% 40px 5% 40px!important;
    }
    .features-intro-left {
        padding: 25px 50px!important;
    }
}


/* Contact querries */

@media screen and (max-width:768px) {
    footer li {
        display: block;
        text-align: center;
        padding: 20px 0;
        border-bottom: dashed 1px #c7cacc;
        margin-right: 0!important;
        float: none;
    }
}

@media (min-width: 768px) {
    footer ul {
        text-align: center;
        margin-top: 37px;
    }
    footer li {
        list-style: none;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        display: inline;
        padding: 4px;
    }
}

@media (min-width: 1200px) {
    footer li {
        padding: 13px;
    }
}

@media (min-width: 1600px) {
    footer li {
        padding: 33px;
    }
}


/* Showcase querry */

@media screen and (min-width:420px) {
    #mobileApp blockquote .avatar {
        margin-right: 20px;
    }
}


/* Feature list querries */

@media screen and (max-width:768px) {
    .features-list {
        padding: 50px 0;
    }
}